extends layout

block content
  h1= title
  p Total results: #{total_results}
  br
  p Top hit: #{topHit}  
  p Snippet for top hit: #{topHitSnippet}
  br
  p Second hit: #{secondHit}
  p Snippet for second hit: #{secondHitSnippet}  